footer {
    position: relative;
    padding-top: 50px;
    padding-inline: 30px;
    background-color: #070707;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

footer .container::before {
    content: '';
    position: absolute;
    width: calc(100% - 60px);
    height: 2px;
    background-color: white;
    bottom: 70px;
}

footer .box {
    position: relative;
}

footer .box:first-child {
    margin-left: 20px;
}

footer .box:last-child {
    margin-right: 10px;
}

footer .box h1 {
    text-align: start;
    color: white;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
}

footer .box:first-child p {
    max-width: 300px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

footer .social {
    position: relative;
}

footer a {
    color: white;
}

footer #facebook {
    padding: 20px;
    font-size: 66px;
    background-color: #191919;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 30px;
}

footer #facebook:hover {
    background-color: #3b5998;
}

footer #telegram {
    padding: 20px;
    font-size: 66px;
    background-color: #191919;
    cursor: pointer;
    transition: 0.3s;
}

footer #telegram:hover {
    background-color: #229ED9;
}

footer #instagram {
    padding: 20px;
    font-size: 66px;
    background-color: #191919;
    cursor: pointer;
    transition: 0.3s;
}

footer #instagram:hover {
    background-color: #C13584;
}

footer .box:nth-child(2) h3 {
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
}


footer .box:nth-child(2) ul {
    position: relative;
}

footer .box:nth-child(2) ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
    transition: 0.3s;
}


footer .box:nth-child(2) ul li:nth-child(1) {
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


footer .box:nth-child(2) ul li a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
}

footer #right-arrow {
    font-size: 20px;
}

footer .box:nth-child(2) ul li:not(:first-child):hover {
    margin-left: 10px;
}

footer .box:nth-child(3) p {
    margin-bottom: 27px;

}

footer .box:nth-child(3) span {
    margin-bottom: 10px;
    margin-top: 10px;
}

footer .box:nth-child(3) #phone,
#location,
#clock {
    margin-right: 5px;
    color: white;
    font-weight: 900;
    font-size: 20px;
}


footer .p1 {
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    font-weight: 900;
    color: white;
}

footer .p1 a {
    color: #777;
    text-decoration: none;
}

/* Responsive */
@media (min-width : 1024px) {
    footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }
}

@media (min-width : 1300px) {
    footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
    }
}

@media (max-width : 991px) {
    footer {
        padding-inline: 20px;
    }

    footer .container {
        width: 100%;
        display: block;
        gap: 0px;
        text-align: center;
    }

    footer .container::before {
        content: '';
        width: 0;
    }

    footer .box {
        position: relative;
    }

    footer .box:first-child {
        margin-left: 0px;
    }

    footer .box:last-child {
        margin-right: 0px;
    }

    footer .box h1 {
        text-align: center;
        color: white;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 900;
    }

    footer .box:first-child p {
        text-align: center;
        max-width: 100%;
        font-size: 15px;
        color: white;
        font-weight: 600;
        margin-bottom: 60px;
    }

    footer .social {
        position: relative;
        margin-bottom: 30px;
    }

    footer #facebook {
        padding: 20px;
        background-color: #191919;
        cursor: pointer;
        transition: 0.3s;
    }

    footer #facebook:hover {
        background-color: #3b5998;
    }

    footer #telegram {
        padding: 20px;
        background-color: #191919;
        cursor: pointer;
    }

    footer #telegram:hover {
        background-color: #229ED9;
    }

    footer #instagram {
        padding: 20px;
        background-color: #191919;
        cursor: pointer;
    }

    footer #instagram:hover {
        background-color: #C13584;
    }

    footer .box:nth-child(2) h3 {
        margin-left: 25px;
        margin-bottom: 20px;
        font-size: 30px;
        color: white;
    }


    footer .box:nth-child(2) ul {
        position: relative;
    }

    footer .box:nth-child(2) ul li {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: 20px;
        transition: 0.5s;
    }

    footer .box:nth-child(2) ul li:nth-child(1) {
        margin-bottom: 30px;
        margin-left: 20px;
        transition: 0.5s;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }


    footer .box:nth-child(2) ul li a {
        color: white;
        font-size: 18px;
        font-weight: 600;
        color: white;
    }

    footer .box:nth-child(2) ul li:hover {
        margin-left: 10px;
    }


    footer .box:nth-child(3) p {
        margin-bottom: 30px;

    }

    footer .box:nth-child(3) span {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    footer:nth-child(3) p {
        margin-right: 10px;
        color: white;
        font-weight: 900;
        font-size: 19px;
        margin-bottom: 15px;
    }


    footer .p1 {
        text-align: center;
        margin-top: 40px;
        font-size: 35px;
        font-weight: 900;
        color: white;
    }

    footer .p1 a {
        color: #777;
        text-decoration: none;
    }
}